<section class="search-panel">
  <form onsubmit="event.preventDefault()">
    <div class="form-group row" title="Select the news source">
      <label class="col-1" for="source">Channel:</label>
      <div class="col-5">
        <select class="form-control" name="source" id="source"> </select>
      </div>
    </div>
    <div id="pageContainer" class="form-group row" title="Enter the page number" hidden>
      <label class="col-1" for="page">Page:</label>
      <div class="col-5">
        <input class="form-control" type="number" name="page" id="page" placeholder="Enter the page number">
      </div>
    </div>
    <div class="row">
      <div class="col-6 align-right">
        <button class="btn btn-primary" id="submit" type="submit" title="Begin search" disabled>Go</button>
      </div>
    </div>
  </form>
</section>