.card-list .card {
  max-width: 284px;
  /* height: 300px; */
  margin: 8px;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15); }
  .card-list .card .card-link {
    display: block;
    color: inherit;
    text-decoration: none; }
  .card-list .card .card-link:visited {
    color: inherit; }
  .card-list .card .card-image {
    height: 110px;
    overflow: hidden; }
  .card-list .card .card-image img {
    border-radius: 8px 8px 0 0;
    width: 100%; }
  .card-list .card .card-text {
    padding: 10px; }
  .card-list .card .card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-height: 22px;
    height: 66px; }
  .card-list .card .card-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-height: 18px;
    height: 54px;
    margin-bottom: 20px; }
  .card-list .card .card-footer {
    display: flex;
    font-size: 12px;
    color: #6c6e6f;
    justify-content: space-between; }
  .card-list .card .card-source {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

